[[source]]
name = "pypi"
url = "https://pypi.org/simple"

[dev-packages]
pycodestyle = "==2.5.0"

[packages]
billboard = "==6.1.0"
Django = "==3.0.7"
mysqlclient = "==1.4.6"

[requires]
python_version = "3.8.3"